* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box used for the purpose of learning, otherwise would apply border-box model */
  box-sizing: content-box;
  font-family: 'Courier New', Courier, monospace
}

header {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #504846;
  padding: 10px;
  width: 100%;
  height: 50px;
}

ul {
  list-style: none;
  text-align: right;
}

li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3em;
  line-height: 50px;
}

li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.h1-section {
  text-align: center;
  margin-top: 75px;
  color: #333;
  font-size: 1.5em;
  padding-bottom: 25px;
}

h1 {
  padding: 20px 0;
}

figure img {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 0.75em;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-size: 1.45em;
}

#contact-form {
  background-color: #e8cebf;
  padding: 25px 0;
}

form {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
}

.form-border {
  width: 50%;
  border: 1px solid #26614f;
  margin: 0 auto;
  border-radius: 10px;
}

.form-atting {
  padding: 10px 0;
}

.form-label {
    display: inline-block;
    width: 10%;
    text-align: right;
}

input[type="text"] {
    width: 60%;
}

#send-button {
  padding: 5px 20px;
  background-color: #26614f;
  color: #f2f2f2;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.1em;
}

footer {
  text-align: center;
  height: 25x;
  line-height: 25px;
  background-color: #dcb095;
  color: #333;
  padding: 15px;
}
